    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="text-center mx-auto">
              <h1 class="mb-5">ようこそ！トップページです！</h1>
            </div>
          </div>
        </div>
      </div>
    </header>



    <%= javascript_include_tag "new-age.min.js" %>
    <%= javascript_include_tag "jquery.easing.js" %>