<section class="bg-dark minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">編集</div>
      <div class="card-body">
        <%= render 'form', information: @information %>
        <div class="text-left">
        </div>

      </div>
    </div>
  </div>
</section>