<section class="bg-dark minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">新規登録</div>
      <div class="card-body">
        <%= render 'form', information: @information %>
      </div>
    </div>
  </div>
</section>